<ngb-accordion #a="ngbAccordion" [closeOthers]="true" activeIds="custom-panel-1">

  <ngb-panel>
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button ngbPanelToggle (click)="toggle(0)" class="btn btn-link container text-left pl-0">Project 1</button>
        <button *ngIf="enabled[0]" class="btn-sm btn-outline-primary ml-2">Upload Documents</button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>


  <ngb-panel>
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button ngbPanelToggle (click)="toggle(1)" class="btn btn-link container text-left pl-0">Project 2</button>
        <button *ngIf="enabled[1]" class="btn-sm btn-outline-primary ml-2">
          <span class="glyphicon glyphicon-upload"></span>Upload Documents</button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>


  <ngb-panel>
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button ngbPanelToggle (click)="toggle(2)" class="btn btn-link container text-left pl-0">Project 3</button>
        <button *ngIf="enabled[2]" class="btn-sm btn-outline-primary ml-2">Upload Documents</button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>